<a href="https://colab.research.google.com/github/bayuryunarko/belajar-sklearn/blob/main/5_TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Latihan SKLearn dari channel Youtube "Indonesia Belajar"

##Mengenal TF-IDF (Term Frequency - Inverse Document Frequency)

TF-IDF (Term Frequency - Inverse Document Frequency) merupakan salah satu metode statistik yang digunakan untuk mengukur seberapa penting suatu kata terhadap suatu dokumen tertentu dari sekumpulan dokumen atau corpus.

#Dataset

In [1]:
corpus = [
          'the house had a tiny little mouse',
          'the cat saw the mouse',
          'the mouse ran away from the house',
          'the finally ate the mouse',
          'the end of the mouse story'
]
corpus

['the house had a tiny little mouse',
 'the cat saw the mouse',
 'the mouse ran away from the house',
 'the finally ate the mouse',
 'the end of the mouse story']

#TF-IDF Weight dengan TfidfVectorizer

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
vectorizer = TfidfVectorizer(stop_words='english')
response = vectorizer.fit_transform(corpus)
print(response)

  (0, 7)	0.2808823162882302
  (0, 6)	0.5894630806320427
  (0, 11)	0.5894630806320427
  (0, 5)	0.47557510189256375
  (1, 9)	0.6700917930430479
  (1, 2)	0.6700917930430479
  (1, 7)	0.3193023297639811
  (2, 1)	0.5894630806320427
  (2, 8)	0.5894630806320427
  (2, 7)	0.2808823162882302
  (2, 5)	0.47557510189256375
  (3, 0)	0.6700917930430479
  (3, 4)	0.6700917930430479
  (3, 7)	0.3193023297639811
  (4, 10)	0.6700917930430479
  (4, 3)	0.6700917930430479
  (4, 7)	0.3193023297639811

In [4]:
vectorizer.get_feature_names()

['ate',
 'away',
 'cat',
 'end',
 'finally',
 'house',
 'little',
 'mouse',
 'ran',
 'saw',
 'story',
 'tiny']

In [5]:
response.todense()

matrix([[0.        , 0.        , 0.        , 0.        , 0.        ,
         0.4755751 , 0.58946308, 0.28088232, 0.        , 0.        ,
         0.        , 0.58946308],
        [0.        , 0.        , 0.67009179, 0.        , 0.        ,
         0.        , 0.        , 0.31930233, 0.        , 0.67009179,
         0.        , 0.        ],
        [0.        , 0.58946308, 0.        , 0.        , 0.        ,
         0.4755751 , 0.        , 0.28088232, 0.58946308, 0.        ,
         0.        , 0.        ],
        [0.67009179, 0.        , 0.        , 0.        , 0.67009179,
         0.        , 0.        , 0.31930233, 0.        , 0.        ,
         0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.67009179, 0.        ,
         0.        , 0.        , 0.31930233, 0.        , 0.        ,
         0.67009179, 0.        ]])

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(response.todense().T,
                  index=vectorizer.get_feature_names(),
                  columns=[f'D{i+1}' for i in range(len(corpus))])
df

               D1        D2        D3        D4        D5
ate      0.000000  0.000000  0.000000  0.670092  0.000000
away     0.000000  0.000000  0.589463  0.000000  0.000000
cat      0.000000  0.670092  0.000000  0.000000  0.000000
end      0.000000  0.000000  0.000000  0.000000  0.670092
finally  0.000000  0.000000  0.000000  0.670092  0.000000
house    0.475575  0.000000  0.475575  0.000000  0.000000
little   0.589463  0.000000  0.000000  0.000000  0.000000
mouse    0.280882  0.319302  0.280882  0.319302  0.319302
ran      0.000000  0.000000  0.589463  0.000000  0.000000
saw      0.000000  0.670092  0.000000  0.000000  0.000000
story    0.000000  0.000000  0.000000  0.000000  0.670092
tiny     0.589463  0.000000  0.000000  0.000000  0.000000